*{
	box-sizing: border-box;
}
header {
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
}
 a {
 	text-decoration: none;
 	color: #000000;
 }
.top-header-container {
	
	margin: 0 auto;
	padding:  20px 0;
}

.logo {
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 30px;
	text-decoration: none;
	float: left;
	/*flex-grow: 2;*/
	

}

.logo:visited {
	color: #000000;
}
/*на десктопе не показывать*/
.logo-mobile {
	display: none;
}



.links-container {
	float: right;
	margin-right: 2%;
}
.bag {
	font-family: 'Roboto';
	font-size: 12px;
	line-height: 2;
	text-decoration: none;
	color: #000000;
}

.bag-img {
	margin-right: 5px;

}
.sign {
	line-height: 2.8;
	font-family: 'Roboto';
	font-size: 12px;
	text-decoration: none;
	color: #000000;
	margin-right: 55px;
}

.bottom-header-container {
	padding-top: 38px;
	width: 100%;
	padding-bottom: 15px;
	border-bottom: 1px  solid #e5e5e5;
}
 .nav-links-container {
 	width: 100%;
 	list-style: none;
 	display: flex;
 	justify-content: space-between;
 	font-family: 'Open Sans';
 	font-weight: bold;
 	font-size: 13px;
 }



input[type=search] {
	background: transparent url(../img/icons/search.png) no-repeat right;
	border: none;
	border-bottom: solid 1px #a8a8a8;
	appearance: textfield;
	box-sizing: content-box;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	-moz-appearance: textfield;
	-moz-box-sizing: content-box;
	-ms-appearance: none;
	-ms-box-sizing: none;
	padding-right: 14px;
	font-size: 12px;
}

input[type=search]:focus {
	background: transparent url(../img/icons/search.png) no-repeat right;
	width: 250px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}
input[type=search]:-moz-placeholder, input[type=search]::-webkit-input-placeholder {
	color: transparent;
}


@media (min-width:480px) and (max-width:1023px) {
/*	//header, .itemsm, .top-footer, .bottom-footer {
		padding: 0 40px;
	}*/
	input[type="search"] {
	width: 0px;
	border: 0;
}
	input[type=search]:focus{
		width: 120px;
		border-bottom: solid 1px #a8a8a8;
	}
}
 /*end of header*/

/*footer style*/

footer {
	border-top: 1px solid #e5e5e5;
}
.footer-container {
	padding-top: 55px;
	padding-bottom: 100px;
	max-width: 1180px;
	width: 100%;
	margin: 0 auto;
	/*max-height: 530px;*/
}
.top-footer{
	width: 100%;
	margin-bottom: 100px;
	height: auto;

}

.heading-footer h3{
	font-family: 'Open-Sans';
	font-weight: bold;
	font-size: 16px;
}
.links-list {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	margin-top: 10%;
}

.links-list a{
	line-height: 37px;
	font-family: 'Roboto';
	font-size: 14px;
}

.left-top {
	width: 50%;
	height: auto;
	float: left;

}
.quick-links, .customer-care{
	width: 50%;
	float: left;
}

.right-top {
	width: 50%;
	float: left;
}

.questions, .order {
	width: 50%;
	height: auto;
	float: left;
	margin-bottom: 50px;
}

.delivery {
	margin-top: 10%;
	width: 50%;
	font-family: 'Times New Roman';
	font-style: italic;
}

.questions p {
	font-family: 'Roboto';
	font-size: 14px;
}


.questions span {
	font-weight: bold;
}

.contacts {
	margin-top: 20px;
	font-family: 'Roboto';
	font-size: 14px;
}

.delivery p {
	margin-bottom: 30px;
}

.bottom-footer{
	width: 100%;
	height: auto;
	float: left;
	border-top: 1px solid #c5c5c5;
	margin-top: 50px;
	padding-top: 35px;
	padding-bottom: 35px;
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	

}

.trademark, .share, .nav-foot {
	width: 33.33%;
	float: left;
}
.share span {
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 18px;
}

.footer-navigation {
	list-style: none;

}
.footer-navigation li {
	display: inline;
	margin: 0 17px;
}


.share-button {
	padding: 0 2px;
	margin-left: 5px;
	background-color: #f4f4f4;
	outline: none;
	border: none;
}

