html{
	font-family: 'OpenSans', sans-serif;
	font-weight: bold;
	font-size: 14px;
	min-width: 375px;
	
  }
	
  body{
	width: 100%;
	 margin: 0 auto;
	 
  }
  
  .clearfix:before,
  .clearfix:after {
	content: "";
	display: table;
  }
   
  .clearfix:after {
	clear: both;
  }
   
 
  a.logo, nav a:first-child{
	padding-left: 20px;
  }
  
  
 
  .header-first-line .logo-mobile{
	font-size: 2rem;
	display: none;
  }
  
  .user-options div{
	display: inline-block;
  }
  
  .menu-btn{
	display: none;
	width: 25px;
	height: 25px;
	border: none;
	border-left: 1px solid #c5c5c5;
  }
  
  .menu-btn-opened{
	background: url('../img/icons/ico_close.png') bottom center no-repeat;
  }
  
  .menu-btn-closed{
	background: url('../img/icons/ico_menu.png') bottom center no-repeat;
  }
  
  .container{
	max-width: 1180px;
	margin: 0 auto;
	width: 100%;
	
	
  }
  
  header{
	padding: 30px 0;
  }
  
  .nav-wrapper, .search{
	padding-top: 30px;
  }
  
  a{
	text-decoration: none;
	color: black;
  }
  
  .logo{
	font-size: 2rem;
	display: inline-block;
  }
  .header-first-line{
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  .header-first-line a{
	display: inline-block;
  }
  .user-options a{
	padding-left: 30px;
  }
  .user-options a:first-child{
	padding-right: 30px;
  }
  .bag{
	background: url('../img/ico_bag.png') center left no-repeat;
	background-size: contain;
  }
  .nav-wrapper{
	display: inline-block;
	width: 79%;
  }
  
  nav{
	display: flex;
	justify-content: space-between;
	width: 100%;
  }
  
  nav a:hover{
	color:#f14a58;
  }
  
  .search{
	display: inline-block;
	width: 20%;
	position: relative;
  }
  
  .search input{
	width: 55%;
	margin-left: 45%;
	border: none;
	border-bottom: 2px solid #e5e5e5;
  }
  
  .magnifier{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('../img/ico-search.png') center center no-repeat;
	background-size: contain;
	position: absolute;
	right: 0;
	bottom: 0;
  }
  


 /*end of header*/

/*footer style*/

footer {
	width: 100%;
}

.top-footer{
	
	width: 100%;
	margin-bottom: 100px;
}

.heading-footer h3{
	font-family: 'Open-Sans';
	font-weight: bold;
	font-size: 16px;
}
.links-list {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	margin-top: 10%;
}

.links-list a{
	line-height: 37px;
	font-family: 'Roboto';
	font-size: 14px;
}

.left-top {
	width: 49%;
	float: left;
	border-right: 1px solid #e5e5e5;
	

}
.quick-links, .customer-care{
	width: 50%;
	float: left;
}

.right-top {
	width: 49%;
	float: left;
}

.questions, .order {
	width: 50%;
	float: left;
	margin-bottom: 50px;
}

.delivery {
	margin-top: 10%;
	width: 50%;
	font-family: 'Times New Roman';
	font-style: italic;
}

.questions p {
	font-family: 'Roboto';
	font-size: 14px;
}


.questions span {
	font-weight: bold;
}

.contacts {
	margin-top: 20px;
	font-family: 'Roboto';
	font-size: 14px;
}

.delivery p {
	margin-bottom: 30px;
}

.container-2 {
	border-top: 1px solid #c5c5c5;
	width: 100%;
}
.bottom-footer{
	max-width: 1180px;
	width: 100%;
	padding-top: 35px;
	padding-bottom: 35px;
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 12px;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}


/* .trademark, .share, .nav-foot {
	width: 33.33%;
	float: left;
	
} */
.share span {
	font-family: 'Open Sans';
	font-weight: bold;
	font-size: 18px;
}

.footer-navigation {
	list-style: none;

}
.footer-navigation li {
	display: inline;
	margin: 0 17px 0 0;
}


.share-button {
	padding: 0 2px;
	margin-left: 5px;
	background-color: #f4f4f4;
	outline: none;
	border: none;
}
/*tablet*/
@media screen and (min-width: 769px) and (max-width: 1023px) {
	.delivery p {
		display: none;
	}

	.left-top {
		width: 66.66%;
	}
	.right-top {width: 33.33%}

	.questions {
		width: 100%;
	}
	.order {
		width: 100%;
	}
}

/*mobile*/
@media screen and (max-width:768px) {
	.mobile-group{
		position: absolute;
		width: 100%;
		background-color: white;
		border-top: 1px solid #D9D9D9;
		top: -400px;
		z-index: 100;
		
	  }
	  .header-first-line{
		width: 85%;
		margin: 0 auto;
	  }
	
	  header{
		position: relative;
	  }
	
	  .nav-wrapper, .search{
		width: 100%;
		padding-left: 20px;
	  }
	
	  .nav-wrapper nav{
		display: flex;
		flex-direction: column;
		justify-content: center;
	  }
	  .nav-wrapper nav a{
		padding: 5px 0;
		font-size: 1.4rem;
	  }
	
	  .header-first-line a.sign-in{
		display: none;
	  }
	
	  .search input{
		margin: 0;
	  }
	
	  .magnifier{
		position: relative;
		left: -25px;
		bottom: -5px;
	  }
	
	  a.logo{
		display: none;
	  }
	
	  .header-first-line .logo-mobile{
		display: inline-block;
	  }
	
	  header{
		padding-top: 5px;
	  }
	
	  .menu-btn{
		display: inline-block;
	  }
	
	  .additional-information .right .social-networks{
		width: 30%;
		bottom: -33px;
		right: 0;
		position: absolute;
		padding: 0;
	  }
	
	  .active-menu{
		top: 73px;
		
	  }

	  .left-top {
		  width: 100%;
		  padding-left: 20px;
		  padding-bottom: 50px;
	  }
	  .right-top {
		  width: 100%;
		  padding: 50px 0 0 20px;
		  position: relative;
		  border-bottom: 1px solid #c5c5c5;
		  border-top: 1px solid #c5c5c5;
		
	  }
	  .delivery p {
		display: none;
	}
	
	.delivery {
		width: 20%;
		float: right;
		position: absolute;
		bottom: -75px;
		right: -40px;
		
	}

	.bottom-footer {
		position: relative;
	}
	.nav-foot {
		flex-basis: 50%;
		font-size: 1rem;
		position: absolute;
		text-align: left;
		top: -40px;
		padding-left: 20px;
		
	}
	.new-arrivals {
		justify-content: center;
	}
}