* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* html, body {
    width: 100%;
    height: auto;
} */
/*body {

background: url(1_start_1300.png) no-repeat center top;
opacity: 0.3;

}*/

.container {
    width: 100%;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}


a:hover {
    color: #f14a58;
}

/*slider part*/

.slideshow-container{
    width: 100%;
    position: relative;
    margin: 0 auto;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3 px 0;    
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);  
}

.mySlides{
    text-align: center;
}

.text{
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: relative;
    bottom: 90px;
}

.dot{
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease; 
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s; 
    animation-name: fade;
    animation-duration: 1s; 
}

@-webkit-keyframes fade {
    from{opacity:.4}
    to{opacity: 1}  
}
@keyframes fade {
    from{opacity:.4}
    to{opacity: 1}  
}

/*end of slider*/

.banners {
    max-width: 100%;
    width: 100%;
    display: flex;
    border-top: 1px solid #c9cbcd;
    margin-bottom: 150px;
}

.first-banner, .second-banner {
    flex-basis: 50%;

}

.third-banner {
    align-self: center;
}

.banners img {width: 100%;}

/* end of banners */

.new-arrivals {
    max-width: 1180px;
    margin: 0 auto;
}
.arrival {
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 50px;
    margin: 50px auto;
    text-align: center;
}

@media (min-width: 1024px) {
    .third-banner {
        display: none;
    }
}
@media (max-width:767px) {
    .second-banner, .third-banner {
        display: none;
    }
    .first-banner {
        flex-basis: 100%;
        margin: 0 auto;
    }
    
    .item-3-tablet, .item-4-desktop {
        display: none;
    }
    .arrivals-block {
        justify-content: space-around;
    }
    .arrivals-block figure {
        flex: 0 1 45%;
    }
}

@media (min-width: 768px) and (max-width:1023px) {
    .item-4-desktop, .second-banner {
        display: none;
    }

    .first-banner {
        flex-basis: 70%;
    }
    .third-banner {
        flex-basis: 30%;
    }

    .arrivals-block figure {
        flex: 0 1 30%;
    }
}

 




.arrivals-block {
    display: flex;
    justify-content: space-between;
}


.arrival {
    font-family: 'Open Sans';
    font-size: 50px;
    margin: 50px auto 42px;
}
.name, .arrival {
    text-align: center;
}

.name {
    font-family: 'Roboto';
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 14px;
}

.price {
     font-family: 'Roboto';
    text-align: center;
    margin-top: 0px;
    font-size: 14px;
}

.item-description {
    margin-top: 50px;
}
.img-container {
    position: relative;
    cursor: pointer;
}

.img-container img{
    width: 100%;
}
.cover-box {
    visibility: hidden;
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    z-index: 10;
    font-size: 26px;
    text-align: center;
    padding-top: 60%;

}

.img-container:hover .cover-box {
    visibility: visible;
}

.cover-box span {
    color:#f14a58;
}

.button-container {
   text-align: center;
   margin: auto 5%;
   clear: both;
   display: flex;
   justify-content:center;
   align-items: center;
   margin-top: 55px;
   margin-bottom: 110px;
}

.show-button {
    background: transparent;
    outline: none;
    font-size: 24px;
    font-family: 'Open Sans';
    font-weight: bold;
    border: 1px solid #e5e5e5;
    cursor: pointer;
    padding: 25px 100px;
   
}

