* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*body {

background: url(../img/1_start_1300.png) no-repeat center top;
opacity: 0.3;

}*/

.main-page-container {

margin: 0 auto;
}

/*slider part*/

.carousel {
    max-height: 750px;
    max-width: 1300px;
    margin: 0 auto;
}
.slideshow-container{

    width: 100%;
    position: relative;
    margin: auto;
}
.prev, .next{
    background-color: #f14a58;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);  
}

.mySlides{
    text-align: center;
}

.text{
    color: #f2f2f2;
    font-size: 20px;
    padding: 8px 12px;
    position: relative;
    bottom: 90px;
}

.dot{
    cursor: pointer;
    height: 6px;
    width: 6px;
    margin: 0 2px;
    background-color: #f14a58;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover{
    background-color: #717171;
}

.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from{opacity:.4}
    to{opacity: 1}
}
@keyframes fade {
    from{opacity:.4}
    to{opacity: 1}
}


.middle {
 /*   margin: 0 auto;
    max-width: 1180px;
    width: 100%;*/
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
    border-top: 1px solid #c9cbcd;
}